.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/*Шапка*/

.header-logo {
    width: 90%;
}

.tomatoall-logo {
    width: 70%;
}

.header {
    padding-top: 10px;
    font-family: 'Roboto';
}

.header a {
    color: #324950;
    text-decoration: none;
}

.header-search {
    max-width: max-content;
    margin-left: auto;
    border-bottom: 1px solid black;
}

.header-search-input {
    border: 0;
    background: none;
}

.header-search-button {
    border: 0;
    background: none;
    padding-right: 0;
}

.header-search-button img {
    width: 80%;
}

.header-menu {
    margin-left: auto;
    margin-top: 30px;
    width: max-content;
}

.header-menu ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

/*Homepage (index.html)*/
/*Банер*/

.homepage-banner {
    background: url('../images/homepage_banner_background.png');
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.homepage-banner h1 {
    color: #735440;
    margin-top: 10%;
    margin-bottom: 2%;
}

.homepage-banner-button {
    background-color: #57984C;
    font-size: 15px;
    color: white;
    font-family: 'Roboto';
    width: 9%;
    height: 45px;
    border: none;
    margin-bottom: 18%;
}

/*Tomato all (Tomato_all.html)*/
/*Банер*/

.tomatoall-banner {
    background: url('../images/tomatoall_banner_background.png');
    background-size: 100% auto;
    height: 380px;
    background-repeat: no-repeat;
}