* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pb0 {
    padding-bottom: 0;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.ac {
    text-align: center;
}

#left-area {
    order: 2;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #3a3a3a;
}

#left-area .header {
    padding-left: 10px;
}

.header .wrapper .logo {
    order: 2;
    display: flex;
    justify-content: end;
    margin-right: 5px;
    padding: 10px;
}

.header .wrapper .al {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
}

#left-area .inner-form {
    padding: 100px;
}

.inner-form .row {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.inner-form .row label {
    margin-bottom: 7px;
    align-self: end;
    font-weight: bold;
}

.inner-form .row input {
    padding: 15px;
    text-align: right;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.inner-form .row .btn {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00c477;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.inner-form .row .btn:hover {
    background-color: #1b7d82;
}

#right-area {
    order: 1;
    height: 100vh;
}

#right-area img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alertMsg {
    font-size: inherit;
    padding: 20px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg {
    font-size: inherit;
    padding: 20px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgba(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft {
    0% {opacity: 0; margin-left: -100%;}
    25% {opacity: 0.2; margin-left: -50%;}
    35% {opacity: 0.4; margin-left: -20%;}
    50% {opacity: 0.8; margin-left: -15%;}
    65% {opacity: 0.9; margin-left: -12%;}
    75% {opacity: 0.9; margin-left: -10%;}
    80% {opacity: 0.9; margin-left: -8%;}
    85% {opacity: 0.95; margin-left: -6%;}
    90% {opacity: 0.95; margin-left: -4%;}
    95% {opacity: 0.95; margin-left: -2%;}
    100% {opacity: 1; margin-left: 0;}
}

#spinner {
    background: #919fa649 url(/images/loader.gif) no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.input-date {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 9px 15px;
    font-weight: bolder;
}

.panel {
    align-items: center;
    text-align: end;
}

.table {
    text-align: center;
}

.table table {
    width: 100%;
    border: 1px solid #dde2dd;
    border-collapse: collapse;
}

.table th {
    background-color: white;
    padding: 5px;
}

.table td {
    padding: 10px 5px;
    border: 1px solid #dde2dd;
}

.table .image img {
    width: 30%;
    height: 30%;
}

.table tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.table .id {
    width: 8%;
}

.table .title {
    width: 38%;
    text-align: end;
}

.table thead .actions {
    width: 10%;
}

.table tbody .actions {
    width: 10%;
}

.table tbody .actions a {
    margin-left: 4px;
    margin-right: 4px;
}

.table .name {
    width: 25%;
    text-align: end;
}

.table .phone {
    width: 20%;
    text-align: end;
}

.table .email {
    width: 30%;
    text-align: end;
}

.popup {
    z-index: 999999;
    position: fixed;
    width: 100%;
    background-color: white;
}

.popup .head-popup {
    background-color: #dfe3e9;
    padding: 0 15px;
    justify-content: space-between;
}

.popup .head-popup .head-title {
    margin-right: 10px;
    font-weight: bold;
}

.popup .popup-inner {
    padding: 20px 15px;
}

.popup textarea {
    border-radius: 10px;
    height: 150px;
    padding: 5px;
}

.popup-back {
    top: 0;
    left: 0;
    position: fixed;
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.botBtns {
    margin-top: 25px;
}

.btnS {
    margin-left: 10px;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #00c477;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btnS:hover {
    background-color: #1b7d82;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0 10px 0px rgba(70, 70, 70, 0.3);
}

input:checked + .slider {
    background-color: #00cb84;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00cb84;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.active {
    visibility: visible;
}

.user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #1e1e1e;
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#user-info {
    position: fixed;
    background-color: white;
    padding: 20px 30px;
    font-size: 14px;
    border-radius: 10px;
    display: none;
    left: 15%;
    top: 9%;
    z-index: 999;
    animation: showFromUp 0.5s normal;
}

#user-info.active {
    display: block;
}

@keyframes showFromUp {
    from {opacity: 0; margin-top: -100%;}
    to {opacity: 1; margin-top: 0;}
}

#menu {
    height: 100%;
}

#menu ul{
    display: flex;
    width: 100%;
    height: 100%;
}

#menu ul li {
    list-style-type: none;
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px;
    border-bottom: 4px solid transparent;
    transition: background-color 0.3s;
}

#menu ul li:hover {
    background-color: #323232;
}

#menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;    
    height: 100%;
    color: white;
    transition: color 0.5s;
}

#menu ul li:hover a {
    color: #00cb84;
}

#menu ul li .router-link-active {
    color: #00cb84;
}

#menu ul li:has(.router-link-active) {
    border-bottom: 4px solid #00cb84;
}

.cubes {
    height: 80px;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    color: white;
    font-size: 25px;
}

.cubes .w30 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    height: 100%;
    width: 100%;
}

.cubes .clicks {
    background-color: #004e93;
}

.cubes .views {
    background-color: #4700ae;
}

.cubes .leads {
    background-color: #319201;
}

.cubes .ctr {
    color: black;
}

.cubes .w30 div {
    font-size: 14px;
    margin-bottom: 5px;
}

#chartOuter {
    margin-top: 20px;
}

#chartHints {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.filchart {
    background-color: #f6f6f6;
}

.filchart .itemchart {
    margin-left: 15px;
}

.image-preview-area {
    border: 1px solid lightgrey;
    text-align: center;
}

.image-preview-area img {
    width: 25%;
    height: 25%;
}

.panelTop {
    background-color: #d5f3ec;
}

.panelTop .wrapper .flex {
    align-items: center;
}

.tabs ul{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.tabs ul li {
    list-style-type: none;
    color: #8b8686;
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 7px;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 4px solid lightgray;
    transition: background-color 0.3s;
}

.tabs ul li:hover {
    background-color: #d5f3ec;
}

.tabs ul .active {
    border-bottom: 4px solid #00cb84;
    color: black;
}