* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.w60 {
    width: 60%;
}

.w40 {
    width: 40%;
}

.w20 {
    width: 20%;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.ac {
    text-align: center;
}

#left-area {
    order: 2;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

#left-area .header {
    background-color: #3a3a3a;
    padding: 10px;
}

.header .wrapper .logo {
    order: 2;
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.header .wrapper .al {
    order: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
}

.inner-form {
    padding: 100px;
}

.inner-form .row {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.inner-form .row label {
    margin-bottom: 7px;
    align-self: end;
    font-weight: bold;
}

.inner-form .row input {
    padding: 15px;
    text-align: right;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.inner-form .row .btn {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00c477;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.inner-form .row .btn:hover {
    background-color: #1b7d82;
}

#right-area {
    order: 1;
    height: 100vh;
}

#right-area img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alertMsg {
    font-size: inherit;
    padding: 20px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg {
    font-size: inherit;
    padding: 20px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgba(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}

.popup {
    position: fixed;
}

@keyframes showFromLeft {
    0% {opacity: 0; margin-left: -100%;}
    25% {opacity: 0.2; margin-left: -50%;}
    35% {opacity: 0.4; margin-left: -20%;}
    50% {opacity: 0.8; margin-left: -15%;}
    65% {opacity: 0.9; margin-left: -12%;}
    75% {opacity: 0.9; margin-left: -10%;}
    80% {opacity: 0.9; margin-left: -8%;}
    85% {opacity: 0.95; margin-left: -6%;}
    90% {opacity: 0.95; margin-left: -4%;}
    95% {opacity: 0.95; margin-left: -2%;}
    100% {opacity: 1; margin-left: 0;}
}

#spinner {
    background: #919fa649 url(/images/loader.gif) no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.input-date {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 9px 15px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

.panel {
    align-items: center;
    text-align: end;
}

.table {
    text-align: center;
}

.table table {
    border: 1px solid #dde2dd;
    border-collapse: collapse;
}

.table th {
    background-color: white;
    padding: 5px;
}

.table td {
    padding: 10px 5px;
    border: 1px solid #dde2dd;
}

.table tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.table .id {
    width: 8%;
}

.table .title {
    width: 38%;
    text-align: end;
}

.table .actions {
    width: 10%;
}

.popup {
    width: 500px;
    background-color: white;
}

.popup .head-popup {
    background-color: #dfe3e9;
    padding: 0 15px;
    justify-content: space-between;
}

.popup .head-popup .head-title {
    margin-right: 10px;
}

.popup .popup-inner {
    padding: 20px 15px;
}

.popup-back {
    position: fixed;
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.botBtns {
    margin-top: 25px;
}

.btnS {
    margin-left: 10px;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #00c477;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btnS:hover {
    background-color: #1b7d82;
}