/*Нижня частина*/
.footer {
    font-family: 'Roboto';
    height: max-content;
    background-color: #2D3F45;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


.footer .row2 {
    padding-top: 10px;
    background-color: #324950;
    color: #B9B9B9;
}

.footer ul li {
    margin-top: 1%;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.footer .row1 .col2 ul li {
    padding-left: 2px;
    padding-right: 2px;
}
